 a
{color: #591C21;}
a:hover {color: #044040;}
p {color: black;}
html {background-color: grey;}
h1 {color: white;background-color:none;}
h3 {color:white;background-color:#044040b6;}
h2 {color: white;background-color: #044040;}

html {text-align: left;font: size 20px;;font-family:Impact, Haettenschweiler, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
p {text-indent: 1em;}
h2{text-align: center;font-size: 1.4rem;}
h1{text-align: center;font-size: 1.8rem;}
h3{text-align: center;font-size: 1.2rem;}
.main p {line-height: 1.5;}
 aside ul li {margin: 1em;
text-align: center;}
.main footer {margin: 4%;}


    .page-wrapper{position: relative;}
  
@media print  { 
    html {font-family: 'Times New Roman', Times, serif;background-color: #D6D58E ;color: black;}
   
    
}
img{width:100%;
  height: auto; border: none;
} 
h1 {position: absolute;
top: 10px;
right:20px;font-weight: lighter;} 

h2,h3,h4{font-weight: lighter;}
h3{text-align: left;}