 a
{color: #042940;}
a:hover {color: #9FC131;}
p {color: #005C53;}
p { background-color:#D6D58E ;}
h1 {color: #042940;background-color:#9FC131;}
html {background-color: #D6D58E;}
h3 {color: #DBF227;background-color:#042940;}
h2 {color: #DBF227;background-color: #042940;}